
/*FONTS
font-family: 'Mukta', sans-serif;

COLORS
#324549, #FFFFFF
*/
* {box-sizing: border-box}


body {
  background-color: #324549;
  font-family: 'Mukta', sans-serif;
  color: #fff;
    height: 100%;
    margin: 0;
}

h2 a{
    color: #fff;
    text-decoration: underline;
}

h2 a:hover{
    cursor: hand;
    text-decoration: underline;
}

.bg img{
width: 100%;
top: 0;
opacity: 80%;
position: relative;
z-index: -1;
}

p a{
  text-decoration: none;
  color: #fff;
  line-height: 25px;
}

.logo img {
  width: 150px;

}


p {
  font-size:18px;
  font-weight:100px;
  line-height: 25px;
}

h1 {
  font-size:18px;
  font-weight:100px;
  line-height: 25px;
}

h2 {
  font-size: 18px;
  font-weight: 500px;
}

.socials img {
width:30px;
margin: 10px;
}

.content{
  margin: auto;
  width: 70%;
}



/*desktop*/

@media only screen and (min-width: 1024px)
{

  .content{
    margin: auto;
    width: 50%;
  }

.fixed {
  margin-top: 2%;
  position: fixed;
}
  .logo img {
    width: 150px;
    padding-bottom: 30px;
  }

  .bg img {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 30%;
  z-index: -1;
  left: 0px;
  }


  .mobilelogo {
    display: none;
  }

.socials img {
width:30px;
margin: 20px;
}


  .content{
    margin: auto;
    width: 50%;
  }

p {
  font-size:18px;
  font-weight:100px;
  line-height: 25px;
}

h1 {
  font-size:18px;
  font-weight:100px;
  line-height: 25px;
}

}
