
/*FONTS
font-family: 'Mukta', sans-serif;

COLORS
#324549, #FFFFFF
*/
* {box-sizing: border-box}


body {
  background-color: #324549;
  font-family: 'Mukta', sans-serif;
  color: #fff;
    height: 100%;
    margin: 0;
}

.bg img{
width: 100%;
top: 0;
opacity: 80%;
position: relative;
z-index: -1;
}

p a{
  text-decoration: none;
  color: #fff;
}

header img {
  width: 20%;
  margin: auto;
}

.mobilelogo {
  display: contents;
}

h1 {
  font-size: 20px;
  line-height: 25px;
}

hr {
  color: #fff;
  width: 100%;
}

.youtube img{
  width: 10%;
}

.instagram img{
  width: 30px;
}

.desktopstream {
  display: none;
}

.mobilestream {
  display: contents;
}
p {
  font-weight: 300;
  line-height: 25px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.open {
margin-top: -65px;
margin-bottom: 20px;
  padding-left: 5%;
  position: relative;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 60px;
}

 .overlay a {font-size: 20px}
 .overlay .closebtn {
 font-size: 40px;
 top: 15px;
 right: 35px;
 }

 .navbardesktop {
   display: none;
 }

/*desktop*/

@media only screen and (min-width: 1024px)
{

  header {
    height: 150px;
  }

  header img {
    width: 10%;
    margin: auto;
  }

hr{
    margin-top: 130px;
    position: absolute;
}
  .bg img {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 50%;
  z-index: -1;
  left: 0px;
  }

  .desktopstream {
    display: contents;
  }

  .mobilestream {
    display: none;
  }

  .mobilelogo {
    display: none;
  }


  .youtube img{
    width: 3%;
  }

.open {
display: none;
}

.overlay {
  display: none;
}

.navbardesktop {
  width: 100%;
  overflow: auto;
  display: contents;
  position: absolute;
}

.navbardesktop img {
  width: 150px;
  margin-top: -30px;
  position: relative;
}
.navbardesktop a {
  float: left;
  padding-left: 12px;
  padding-top: 22px;
  padding-right: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  text-align: center;
}

.navbardesktop a:hover {
  text-decoration: line-through;
  font-weight: 700;
}


}
/*tablet*/
@media only screen and (max-width: 600px) {

  .youtube img{
    width: 5%;
  }


}
